[Unit]
Description=Set Carrot auto Wi-Fi connection priorities
Wants=NetworkManager.service
After=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/local/lib/carrot-recorder/carrot-net-auto-priority

[Install]
WantedBy=multi-user.target
